## Answer
`groupby` on categorical series retains all the levels and add NaNs. For other dtypes levels are removed if there are no values in them.

In [26]:
tips.day = tips.day.astype(str)
tips.groupby(['day', 'size']).mean()

             tip
day  size
Sat  2     2.000
     3     2.240
Sun  2     1.010
     4     3.500
Thur 2     2.655
     3     4.000

In [1]:
import pandas as pd
import seaborn as sns

### Data Frame 1
<!-- When using `groupby` on this data frame, all values-->

In [19]:
tips = sns.load_dataset('tips')[::40][['day', 'size', 'tip']]
print(tips.dtypes)
tips

day     category
size       int64
tip      float64
dtype: object

      day  size   tip
0     Sun     2  1.01
40    Sat     3  2.24
80   Thur     2  3.00
120  Thur     2  2.31
160   Sun     4  3.50
200  Thur     3  4.00
240   Sat     2  2.00

Using only every 40th entry to get an overview of all the values

In [5]:
tips.groupby(['day', 'size']).mean()

           total_bill    tip
day  size
Thur 2         15.565  2.655
     3         18.710  4.000
     4            NaN    NaN
Fri  2            NaN    NaN
     3            NaN    NaN
     4            NaN    NaN
Sat  2         27.180  2.000
     3         16.040  2.240
     4            NaN    NaN
Sun  2         16.990  1.010
     3            NaN    NaN
     4         21.500  3.500

All levels of `size` are present under each `day`, even when there is no `size` for that particular day. `NaN` is added where entries as missing.

### Data Frame 2

In [23]:
colors = pd.Categorical(['red'] * 4 + ['green'] * 6)
eyes = (0, 0, 2, 2, 0, 1, 1, 2, 0, 3)
precision = (4.0, 4.2, 5.3, 1.4, 0.8, 1.1, 8.2, 2.1, 9.0, 9.6)
test_df = pd.DataFrame(data={'color':colors, 'eyes':eyes, 'precision':precision})
print(test_df.dtypes)
test_df

color        category
eyes            int64
precision     float64
dtype: object

   color  eyes  precision
0    red     0        4.0
1    red     0        4.2
2    red     2        5.3
3    red     2        1.4
4  green     0        0.8
5  green     1        1.1
6  green     1        8.2
7  green     2        2.1
8  green     0        9.0
9  green     3        9.6

In [25]:
test_df.groupby(['color', 'eyes']).mean()

            precision
color eyes
green 0          4.90
      1          4.65
      2          2.10
      3          9.60
red   0          4.10
      1           NaN
      2          3.35
      3           NaN

In this case, all levels of `weight` are not present